[submodule "external/src/curl"]
	path = external/src/curl
	url = https://github.com/curl/curl.git
[submodule "external/src/cryptopp"]
	path = external/src/cryptopp
	url = https://github.com/weidai11/cryptopp.git
